 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Sunil Ghate">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="sunil.82ghate@gmail.com">
        </div>
        <div class="form-group">
            <label for="Mobile" class="text-light">Mobile</label>
            <input type="text" name="mobile" value="" placeholder="9167655538">
        </div>
        <div class="form-group">
            <label for="City" class="text-light">City</label>
            <input type="text" name="city" value="" placeholder="Mumbai">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>